
.flickity-enabled {
    position: relative;
  }

  .flickity-enabled:focus { outline: none; }
  
  .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  
  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    /* transform: translateX(0%)!important; */
  }
  
  /* draggable */
  
  .flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  
  /* ---- flickity-button ---- */
  
  .flickity-button {
    position: absolute;
    background: hsla(0, 0%, 100%, 0.75);
    border: none;
    color: #333;
  }
  
  .flickity-button:hover {
    background: white;
    cursor: pointer;
  }
  
  .flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #19F;
  }
  
  .flickity-button:active {
    opacity: 0.6;
  }
  
  .flickity-button:disabled {
    opacity: 0.3;
    display:none;
    cursor: auto;
    /* prevent disabled button from capturing pointer up event. #716 */
    pointer-events: none;
  }
  
  .flickity-button-icon {
    fill: currentColor;
  }
  
  /* ---- previous/next buttons ---- */
  
  .flickity-prev-next-button {
    top: 50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    /* vertically center */
    transform: translateY(-50%);
  }
  
  .flickity-prev-next-button.previous { left: 10px; }
  .flickity-prev-next-button.next { right: 10px; }
  /* right to left */
  .flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
  }
  .flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
  }
  
  .flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
  }
  
  /* ---- page dots ---- */
  
  .flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
    display:none;
  }
  
  .flickity-rtl .flickity-page-dots { direction: rtl; }
  
  .flickity-page-dots .dot {
    display: inline-block;
    display:none;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: 0.25;
    cursor: pointer;
  }
  
  .flickity-page-dots .dot.is-selected {
    opacity: 1;
  }
  /* section newon2 */
  .newon2 .card-body a p
  {
    margin-top: -10px;
  }
  .newon2 .card-body .bottom-part
  {
    display: flex;
    justify-content: space-between;
  }
  /* .newon2 .cells
  {
      width: 16rem; height: 18.5rem;
      overflow-y: hidden;
  } */
  .curding-learn .container .kit .lit .met .hit h4
  {
     color: black;
     text-decoration: none;
     cursor: pointer;
  }
  .curding-learn .container .kit .lit .met .hit h4:hover
  {
     color: black;
     text-decoration: none;
     cursor: pointer;
  }
  .crousel-item
  {
      position: relative;
      z-index: -1;
  }
  .dot
  {
      display: inline-block;
      text-align: center;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      color: white;
      opacity: .6;
  }
  .do
  {
      border: 1px solid grey;
      position: absolute;
  }
  .two
  {
      position:absolute;
      color: #fffefe;
      opacity:1;
      bottom: 8px;
      left: 30px;
      font-size: 35px;
      text-shadow: 4px 2px rgb(182, 180, 180);
  }
  .flickity-slider
  {
      transform: translateX(0%);
  }
.carousel .cell2
{
   margin:5px;
    width: 180px; height:100px;
    border-radius: 10px; 
}
.carousel-cell{
    margin: 10px;
    width: 18rem; height: 22rem;
    border-radius: 10px;
    margin:10px;
    }
.cells
  { 
      box-shadow: 0px 0px 0px white;
      overflow-x: hidden;
      transition: transform 0s linear;
  }
  .cells
  {
      transform: translateX(0%);
  }
  @media only screen and (max-width:356px)
  {
       .cells
       {
            overflow:unset;
            transform: translateX(0%);
       }
  }
ul
{
    list-style: none;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
.card {
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
    height:100%;  
}
.read {
    color: #004fff;
    font-size: 20px;
    font-weight: bold;
    left: 16px;
}
.img-hover-zoom {
    overflow: hidden;
    height:70%;
   
  }
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  .img-hover-zoom:hover img {
    transform: scale(1.1);
    cursor: pointer;
  }
ul
{
    list-style: none;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}

.card10 .card1
{
  margin-right: 20px;
  border-radius: 16px;
  height: 100%;
}
.card10 .card2
{
    border-radius: 16px;
    height: 100%;
}
.card10
{
    display:flex;
    width: 34rem;
  height: 19rem;
  margin-left: .8rem;
}